<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="MathsOperations" />
            </basicHttpBinding>
            <wsHttpBinding>
                <binding name="MathsOperationsWS" />
            </wsHttpBinding>
        </bindings>
        <client>
            <endpoint address="http://localhost:8733/MathsServices/maths"
                binding="basicHttpBinding" bindingConfiguration="MathsOperations"
                contract="MathsOperationsReference.IMathsOperations" name="MathsOperations" />
            <endpoint address="http://localhost:8733/MathsServices/mathWS"
                binding="wsHttpBinding" bindingConfiguration="MathsOperationsWS"
                contract="MathsOperationsReference.IMathsOperations" name="MathsOperationsWS">
                <identity>
                    <userPrincipalName value="THOMAS-MSIGT60\ttetu" />
                </identity>
            </endpoint>
        </client>
    </system.serviceModel>
</configuration>